*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline:0;
}

body{
  background:#fbfeff ;
}

.linha{
  display: flex;
  justify-content:center;
  margin-top: 10px;
}

.icon{
  color: rgb(168, 170, 11);
  margin: -3px;
}

h1{
  text-align:center;
  font-family:Roboto,sans-serif;
  color: #1d1c1c;
  text-transform: uppercase;
}

@media screen and (max-width:637px){
  .linha {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}